<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="description" content="">
 
  <link rel="stylesheet" href="/css/Table.css">
  <link rel="stylesheet" type="text/css" href="css/base.css"/>
  <link rel="stylesheet" type="text/css" href="css/style.css"/>
  <link rel="stylesheet" type="text/css" href="css/iconfont/iconfont.css"/>
  <link rel="stylesheet" type="text/css" href="css/xuanke.css">
  <!-- style -->
<link type="text/css" rel="stylesheet" href="css/style1.css">
<script src="/js/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="js/jquery.isotope.js"></script>
<script type="text/javascript" src="js/script.js"></script>
    <title>用户交易</title>
  </head>
	<body class="bge">
		<div class="header">
			<span>用户交易</span>
			<a href="javascript:history.go(-1)" class="back"><i class="iconfont icon-left"></i></a>
		</div>
    <hr>
     <!--<pre><P>转账人</P>    <input class= "zzr" style="height: 30px;width: 200px;"name="转账人"placeholder="转账人地址"type="text"lay-verify="required"> 
        ​ <P>收账人</P>    <input class= "szr" style="height: 30px;width: 200px;"name="收款人"lay-verify="required"placeholder="收款人地址" type ="text">    
     -->
    <center><div id="niu"><h1>我的账户地址<h1>
  
    </div>

    
      <!--<hr>   <div>
        <input type="number" placeholder="拍卖时长（秒）" id="_timeLimit"> 
        <button id="time">确定时长</button>
     </div> -->
    
     <hr>
 
     <div> 
        <input type="number" placeholder="出价金额" id="vlue"> 
        <button >出价</button> 
       
    </div>
   
    <hr>
    <div>
        <button id="timeout">结束</button>
      </div>
      <hr>
      <button class ="sendEthButton">拍卖结束,请点击转账付款</button>
    </center>
    <script src="/js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="/js/web3.min.js"></script>
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/acution1.js"></script>
    <script type="text/javascript" src="js/rem.js"></script>	
</body>
</html>