<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/base.css"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="/css/iconfont/iconfont.css"/>
    <link rel="stylesheet" type="text/css" href="/css/xuanke.css">
    <link type="text/css" rel="stylesheet" href="/css/style1.css">
    <link rel="stylesheet" href="/css/main.min.css">

    <script type="text/javascript" src="/js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="/js/jquery.isotope.js"></script>
    <script type="text/javascript" src="/js/script.js"></script>
    <title>课程竞拍</title>
</head>
<body>
    <div class="header">
        <span>课程竞拍</span>
        <a href="/studentschoose" class="back"><i class="iconfont icon-left"></i></a>
    </div>
    <ul class="data-content">
        <li class="notice-list">
            <table border="0">
                <tr>
                    <!--<th><img src="img/upload/g1.jpg" style="width: 97px;"></th>-->
                    <th>
                        <section class="part" id="part2" style="float: left;">
                            <div class="container">
                                <div class="downloads">
                                    <div class="tips-area qr-area"  >
                                        <button class="custom-button has-tips"  style="float: left;">
                                            <img src="/img/upload/g3.jpg" style="width: 97px;">

                                        </button>
                                        <div class="qr-tip" style="width: 300px;padding-top: 52px;">
                                            <p class="list-txt" style="background-color: white;padding-bottom: 375px; padding-left: 65px;">
                                                课程详情:《数据结构教程》用精练、流畅的语言详述了数据结构的基本概念、基本思想、基本原理及实际背景。共分十章，内容包括：绪论，线性表，栈和队列，特殊链表和特殊线性表，内、外排序，树，图，检索，文件。
                                            </p>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </section>
                    </th>
                    <th>
                        <b class="list-tit">数据结构教程</b>
                        <p class="list-txt">授课老师:jurry老师</p>
                        <p class="list-txt">课程时长:20课时</p>
                        <p class="list-txt">竞拍价格:400元</p>
                </div>
                    </th>

            </table>
            <HR style="border:1 dashed #210c64" width="100%" color=#987cb9 SIZE=1>
                <div>
                    <ul class="dorm-book">
						<li>
							<span class="book-tit">竞拍时长</span>
							<input type="text" name="name" placeholder="请输入时间（秒）" />  
							<span class="goin"><i class="iconfont icon-right"></i></span>
						</li>
					</ul>
                    <ul class="dorm-book">
						<li>
							<span class="book-tit">账户地址</span>
							<input type="text" name="name" placeholder="请输入您的地址" />  
							<span class="goin"><i class="iconfont icon-right"></i></span>
						</li>
					</ul>
                    <ul class="dorm-book">
						<li>
							<span class="book-tit">拍卖价格</span>
							<input type="text" name="name" placeholder="请输入您的拍卖价格" />  
							<span class="goin"><i class="iconfont icon-right"></i></span>
						</li>
					</ul>
                </div>
                <div class="step-btn">
                    <a href="#" class="ta-center db" style="color: aliceblue;">竞拍</a>
            </div>
            <script src="js/jquery-1.10.2.min.js"></script>
            <script type="text/javascript" src="/js/rem.js"></script>
            <script type="text/javascript" src="/js/main.min.js"></script>
            <script type="text/javascript" src="/js/jquery.hoverdir.min.js"></script>
</body>
</html>