<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/base.css"/>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <link rel="stylesheet" type="text/css" href="css/iconfont/iconfont.css"/>
    <link rel="stylesheet" type="text/css" href="css/xuanke.css">
    <link type="text/css" rel="stylesheet" href="css/style1.css">
    <link rel="stylesheet" href="css/main.min.css">
    <title>课程竞拍</title>
</head>
<body>
    <div class="header">
        <span>课程竞拍</span>
        <a href="/studentschoose" class="back"><i class="iconfont icon-left"></i></a>
    </div>
    <ul class="data-content">
        <li class="notice-list">
            <table border="0">
                <tr>
                    <th>
                        <section class="part" id="part2" style="float: left;">
                            <div class="container">
                                <div class="downloads">
                                    <div class="tips-area qr-area"  >
                                        <button class="custom-button has-tips"  style="float: left;">
                                            <img src="/img/upload/g1.jpg" style="width: 97px;">

                                        </button>
                                        <div class="qr-tip" style="width: 300px;padding-top: 52px;">
                                            <p class="list-txt" style="background-color: white;padding-bottom: 375px; padding-left: 65px;">
                                                课程详情:全书共两篇17章,第一篇介绍Python数据类型、控制结构、正则表达式、类与函数设计、文件操作、异常处理与程序调试等内容。第二篇通过大量案例介绍Python在GUI编程、图形图像编程、音乐编程与语音识别、科学计算可视化、网络编程、逆向工程与软件分析、大数据处理、Windows系统编程等方面的应用。 本书具有一定Python基础的读者进阶学习资料，多领域Python应用开发人员以及打算使用Python快速实现研究思路和创意的科研人员和管理人员的参考书，而且也适合打算学习一门快乐的编程语言并编写几个小程序来娱乐的读者。
                                            </p>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </section>
                    </th>
                    <th>
                        <b class="list-tit">Python程序设计</b>
                        <p class="list-txt">授课老师：发桑老师</p>
                        <p class="list-txt">课程时长:30课时</p>
                        <p class="list-txt">竞拍底格:3000元</p>
                </div>
                    </th>

            </table>
            <HR style="border:1 dashed #210c64" width="100%" color=#987cb9 SIZE=1>
                <div>
                    <ul class="dorm-book">
						<li>
							<span class="book-tit">竞拍时长</span>
							<input type="text" name="name" placeholder="请输入时间（秒）" />  
							<span class="goin"><i class="iconfont icon-right"></i></span>
						</li>
					</ul>
                    <ul class="dorm-book">
						<li>
							<span class="book-tit">账户地址</span>
							<input type="text" name="name" placeholder="请输入您的地址" />  
							<span class="goin"><i class="iconfont icon-right"></i></span>
						</li>
					</ul>
                    <ul class="dorm-book">
						<li>
							<span class="book-tit">拍卖价格</span>
							<input type="text" name="name" placeholder="请输入您的拍卖价格" />  
							<span class="goin"><i class="iconfont icon-right"></i></span>
						</li>
					</ul>
                </div>
                <div class="step-btn">
                    <a href="#" class="ta-center db" style="color: aliceblue;">竞拍</a>
            </div>
            <script src="js/jquery-1.10.2.min.js"></script>
            <script type="text/javascript" src="js/rem.js"></script>
            <script type="text/javascript" src="js/main.min.js"></script>
            <script type="text/javascript" src="js/jquery.hoverdir.min.js"></script>
</body>
</html>