<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="description" content="">
  <link rel="stylesheet" type="text/css" href="css/slick.css"/>
  <link rel="stylesheet" type="text/css" href="css/base.css"/>
  <link rel="stylesheet" type="text/css" href="css/style.css"/>
  <link rel="stylesheet" type="text/css" href="css/iconfont/iconfont.css"/>
  <title>咨询解答</title>
	<body style="background: #eee;">
		<div class="header">
				<span>咨询解答</span>
				<a href="/ask" class="back"><i class="iconfont icon-left"></i></a>
			</div>
		<div class="banner">
			<img src="img/self-report.png">
		</div>
		<div class="answer-box">
			<ul class="answer-content">
				<!-- <a href="uploaDate.html"> -->
				<li class="answer-list">
					<h3 class="list-tit">如何进行账号申诉?</h3>
				    <p class="list-txt">
						如果您的账号已经被冻结/封停，而您不认为您存在《为什么账号会被冻结/封停》里陈述的引发冻结的行为，您可以通过以下方式进行账号申诉。
						发送邮件至邮箱 3082272483@qq.com ，邮件注明您使用的账号绑定的联系方式，如手机号、邮箱等信息，我们收到邮件后会进行核实后会进行反馈。
				    </p>
				</li>
				</a>
				<!-- <a href="uploaDate.html"> -->
				<li class="answer-list">
					<h3 class="list-tit">无法绑定，提示已被使用/占用?</h3>
				    <p class="list-txt">
						您若在绑定 邮箱/手机号/微信等社交账号时，提示 已被其他账号使用/占用，您可尝试使用此方式登录之前账号，然后进行解绑，解绑方式参见链接。
						若您已经确定不再使用之前账号，可以进行账号注销。账号注销方式参见链接。若您依旧无法解决，或者有其他问题，可发送邮件至 user@imooc.com ，说明原因， 我们将协助您进行解决。
				    </p>
				</li>
				</a>
			</ul>
		</div>
	  <script src="js/jquery-1.10.2.min.js"></script>
	  <script type="text/javascript" src="js/basic.js"></script>	
      <script type="text/javascript" src="js/rem.js"></script>	
	</body>
</html>
