<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="description" content="">
  <link rel="stylesheet" type="text/css" href="css/slick.css"/>
  <link rel="stylesheet" type="text/css" href="css/base.css"/>
  <link rel="stylesheet" type="text/css" href="css/style.css"/>
  <link rel="stylesheet" type="text/css" href="css/iconfont/iconfont.css"/>
  <title>常见问题</title>
	<body style="background: #eee;">
		<div class="header">
				<span>常见问题</span>
				<a href="/ask" class="back"><i class="iconfont icon-left"></i></a>
			</div>
		<div class="banner">
			<img src="img/self-report.png">
		</div>
		<div class="answer-box">
			<ul class="answer-content">
				<!-- <a href="uploaDate.html"> -->
				<li class="answer-list">
					<h3 class="list-tit">体系课程有学习期限吗？</h3>
				    <p class="list-txt">
						体系课程购买后，“视频学习”没有时间限制，而随课程赠送的“教学服务”是有时间期限的，具体您可了解《什么是教学服务》
						当您成功购买课程并激活后，可以随时观看所购买教学视频及相关教辅资料（课程资料、课程源码、练习题、随堂笔记、辅助工具），查看自己的学习数据（提问、练习代码、作业等）。
				    </p>
				</li>
				</a>
				<!-- <a href="uploaDate.html"> -->
				<li class="answer-list">
					<h3 class="list-tit">
						零基础就业系列体系课教学服务
						什么是教学服务？</h3>
				    <p class="list-txt">
						教学服务，是指购买课程后，随课程附赠的辅助学习的服务，包含问答答疑、1V1作业批复、阶段测试、课程直播相关服务。
						不同的课程，附赠的教学服务有不同的时间期限，在您成功购买课程后，自动开启并计时。教学服务支持续费延长期限，续费后费用不支持退款。
						教学服务到期后，您仍然可以继续学习课程视频，参与课程群讨论，查阅课程资料、练习题，查看下载课程源码，使用并查看课程笔记。
						若您希望暂停教学服务时间，可发送邮件至邮箱 3082272483@qq.com 进行沟通。
						
						
						
				    </p>
				</li>
				</a>
			</ul>
		</div>
	  <script src="js/jquery-1.10.2.min.js"></script>
	  <script type="text/javascript" src="js/basic.js"></script>	
      <script type="text/javascript" src="js/rem.js"></script>	
	</body>
</html>
