<!DOCTYPE html>
<html lang="zh-CN">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
		<link rel="stylesheet" type="text/css" href="css/slick.css" />
		<link rel="stylesheet" type="text/css" href="css/base.css" />
		<link rel="stylesheet" type="text/css" href="css/style.css" />
		<link rel="stylesheet" type="text/css" href="css/all.css"/>
		<link rel="stylesheet" type="text/css" href="css/swiper.min.css"/>
		<link rel="stylesheet" type="text/css" href="css/iconfont/iconfont.css" />
		<title>飞跃教育</title>
	</head>

		<div class="header">
			<span>飞跃教育</span>
		</div>
		<div class="banner swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><a href="javascript:void(0)"><img class="swiper-lazy" data-src="img/banner1.png" alt=""></a></div>
                <div class="swiper-slide"><a href="javascript:void(0)"><img class="swiper-lazy" data-src="img/banner1.png" alt=""></a></div>
                <div class="swiper-slide"><a href="javascript:void(0)"><img class="swiper-lazy" data-src="img/banner1.png" alt=""></a></div>
                <div class="swiper-slide"><a href="javascript:void(0)"><img class="swiper-lazy" data-src="img/banner1.png" alt=""></a></div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
		<div class="menu">
			<ul class="clearfix">
				<li>
					<a href="/studentschoose">
						<img src="/img/icon1.png">
						<p class="menu-txt">学生选课</p>
					</a>
				</li>
				<li>
					<a href="/student">
						<img src="/img/icon2.png">
						<p class="menu-txt">学生征课</p>
					</a>
				</li>
				<li>
					<a href="/teacherschoose">
						<img src="/img/icon3.png">
						<p class="menu-txt">老师选课</p>
					</a>
				</li>
				<li>
					<a href="/teacher">
						<img src="/img/icon4.png">
						<p class="menu-txt">老师征课</p>
					</a>
				</li>
			</ul>
			<ul class="clearfix">
				<li>
					<a href="/mustknow">
						<img src="/img/icon5.png">
						<p class="menu-txt">上课须知</p>
					</a>
				</li>
				<li>
					<a href="/notice">
						<img src="/img/icon6.png">
						<p class="menu-txt">通知公告</p>
				</li>
				</a>
				<li>
					<a href="/zlk">
						<img src="/img/icon7.png">
						<p class="menu-txt">资料下载</p>
					</a>
				</li>
				<li>
					<a href="/ask">
						<img src="/img/icon8.png">
						<p class="menu-txt">咨询帮助</p>
					</a>
				</li>
			</ul>
		</div>
		<div class="brief">
			<h3 class="brief-tit">教资简介</h3>
			<div class="brirf-content clearfix">
				<div class="bc-left fl">
					<img src="/img/pic1.png">
				</div>
				<div class="bc-right fr">
					陈苏,男,汉族,1961年3月生,江苏人,1976年6月入伍,1982 年6月参加工作；中国对外经贸大学在职研究生,高级经济师。先锋软件股份有限公司董事长、党委书记,江西软件职业技术大学董事长,区块链学院院长,江西财经大学客座教授,江西省工商联副主席,江西省人大代表。

					1976年6月至1982年1月,在部队服役；1982年3月至1994年3月,在共青团江西省委工作,历任团省委组织部干部、省直机关团委书记、共青团中央服务局团委书记等职；1994年4月创立南昌先锋实业有限公司（先锋软件股份有限公司）任董事长；2004年创办江西先锋软件职业技术学院兼任学院院长；2009年5月任我校名誉院长；2017年2月任我校董事长。曾获第十届江西省十大杰出青年、第一届江西省十大创业先锋、中国优秀民营科技企业家、中国优秀青年科技创新奖,被信息产业部、科技部授予“中国软件开源运动杰出贡献奖”,获“紫荆花杯杰出企业家贡献奖”及国家科技进步三等奖等。
					
					第九届全国青联委员,江西省第十一次、十二次、十三次党代会代表,江西省第八届、第九届、第十届政协委员,第十三届江西省人大代表,第九届江西工商联（总商会）副会长、第十届、第十一届江西工商联副主席。
				</div>
			</div>
			<div class="brirf-content clearfix">
				<div class="bc-left fl">
					<img src="/img/pic2.png">
				</div>
				<div class="bc-right fr">
					江海,男,1978年11月生,江苏南通人。现任江西软件职业技术大学区块链学院副院长,软件研发资深专家。

2002-2004年,在先锋软件公司从事KRM-A6知识与资源管理系统、先锋A8可视化工作平台系统研发；

2004-2013年,任江西先锋软件职业技术学院信息中心主任、科研处处长。参与“基于国产基础软件的政务信息化领域平台研发与应用”,该项目获江西省科学技术进步奖；

2013-2015年,任先锋软件集团高级工程师,中磊支付技术总监,从事移动支付系统研发；

2015至今,任先锋软件集团应用技术研究院副院长,从事区块链技术研发。
				</div>
			</div>
			<div class="brirf-content clearfix">
				<div class="bc-left fl">
					<img src="/img/pic3.png">
				</div>
				<div class="bc-right fr">
					胡榕,女,汉族,1991年8月出生,助教,安徽绩溪人。2017至今,任职于我校教务处基础教研室,大学英语教师。获得校级青年教师教学竞赛二等奖,指导学生获得校级大学生技能大赛英语口语大赛二等奖。
				</div>
			</div>
		</div>
		<dl class="news">
			<dt class="news-tit">飞跃教育资讯</dt>
			<dd class="news-content clearfix">
				<div class="nc-left fl">
					<img src="/img/qkl1.png">
				</div>
				<div class="nc-right fr">
					<a class="ncr-top">陈苏董事长作《区块链与元宇宙概论》开课第一讲
					</a>
					<span class="nc-time">2022-03-02</span>
				</div>
			</dd>
			<dd class="news-content clearfix">
				<div class="nc-left fl">
					<img src="/img/qkl2.png">
				</div>
				<div class="nc-right fr">
					<a class="ncr-top">区块链学院开展“无边界成长”线上分享学习活动
					</a>
					<span class="nc-time">2021-12-13</span>
				</div>
			</dd>
		</dl>
		<div class="footer">
			<ul class="footer-page clearfix">
				<li class="page-item active">
					<a href="/index">
						<i class="iconfont icon-index"></i>
						<p>精选</p>
					</a>
				</li>
				<li class="page-item">
					<a href="/enlistment">
						<i class="iconfont icon-computer"></i>
						<p>征选</p>
					</a>
				</li>
				<li class="page-item">
					<a href="/zlk">
						<i class="iconfont icon-ask"></i>
						<p>资料库</p>
					</a>
				</li>
				<li class="page-item">
					<a href="/personal">
						<i class="iconfont icon-person1"></i>
						<p>我的</p>
					</a>
				</li>
			</ul>
		</div>
		<script src="js/jquery.min.js"></script>
	    <script src="js/fastclick.js"></script>
		<script src="js/slick.min.js"></script>
		
		<script src="js/rem.js"></script>
		<script src="js/basic.js"></script>
		<script src="js/swiper.jquery.min.js"></script>
		<script src="js/index.js"></script>
	</body>
</html>