<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="description" content="">
  <link rel="stylesheet" type="text/css" href="css/slick.css"/>
  <link rel="stylesheet" type="text/css" href="css/base.css"/>
  <link rel="stylesheet" type="text/css" href="css/style.css"/>
  <link rel="stylesheet" type="text/css" href="css/iconfont/iconfont.css"/>
  <title>信息总结</title>
		</head>
	<body>
		<div class="header">
			<span>信息总结</span>
			<a href="/index" class="back"><i class="iconfont icon-left"></i></a>
		</div>
		<div class="banner">
			<img src="img/self-report.png">
		</div>
		<div class="step">
			<ul class="fs0">
				<li>
    			<span class="step-icon passbg">1</span>
    			<p class="step-txt">个人信息</p>
    		</li>
    		<li>
    		<span class="step-icon passbg">2</span>
    			<p class="step-txt">metamask</p>
    		</li>
    		<li>
    			<span class="step-icon  passbg">3</span>
    			<p class="step-txt">信息总结</p>
    		</li>
    	</ul>
    	<span class="pro-line"><img src="img/pro-line2.png"></span>
		</div>
		<ul class="dorm-book mt3">
			<li class="info-top clearfix">
				<span class="heade-img">
					<img src="img/person.png">
				</span>
			    <span class="stu-name">江静静</span>
			    <span class="code"><img src="img/code.png"></span>
			</li>
			<li class="basic-tit">
			    个人信息
			</li>
			<li>
				<span class="book-tit">姓名</span>
		        <span class="info-middle">江静静</span>  
			</li>
			<li>
				<span class="book-tit">性别</span>
		        <span class="info-middle">女</span>  
			</li>
			<!-- <li>
				<span class="book-tit">身份证号</span>
		        <span class="info-middle">342901199202092027</span>  
			</li> -->
			<li>
				<span class="book-tit">metamask</span>
		    <span class="info-middle">0x61A3d8AF29486133f749c53d88F23Ba2033F6933</span>  
			</li>
		
		</ul>
	
		<div class="reportcard">
			   
				<a href="/personal" class="db ta-center">保存到手机</a>
		</div>
	  <script src="js/jquery-1.10.2.min.js"></script>
	  <script type="text/javascript" src="js/basic.js"></script>	
      <script type="text/javascript" src="js/rem.js"></script>	
	</body>
</html>
