<!DOCTYPE html>
<html lang="zh-CN">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
		<meta name="description" content="">
		<link rel="stylesheet" type="text/css" href="css/slick.css" />
		<link rel="stylesheet" type="text/css" href="css/base.css" />
		<link rel="stylesheet" type="text/css" href="css/style.css" />
		<link rel="stylesheet" type="text/css" href="css/iconfont/iconfont.css" />
		<title>资料下载</title>
			</head>
	<body>
			<div class="header">
				<span>资料下载</span>
				<a href="/zlk" class="back"><i class="iconfont icon-left"></i></a>
			</div>
			<div class="banner">
				<img src="img/self-report.png">
			</div>
			<div class="noticeDtail">
					<p class="detail-tit">
					<span>2022-03-02</span> 学习资料免费分享
					</p>
				    <p class="detail-txt">
						今天给大家分享的这些资料主要包含「电子书」和「学习视频」两块内容，都是编程学习的干货，以Python语言为主。
						内容涵盖了Python入门，Python数据分析，Python网络爬虫，机器学习，深度学习，Django等Web应用框架,网络安全，大数据等等。
						下面给出了分类资源清单，都是非常不错的学习资源。
				    </p>
			</div>
			<script src="js/jquery-1.10.2.min.js"></script>
			<script type="text/javascript" src="js/basic.js"></script>
			<script type="text/javascript" src="js/rem.js"></script>
		</body>

</html>