<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="description" content="">
  <link rel="stylesheet" type="text/css" href="css/slick.css"/>
  <link rel="stylesheet" type="text/css" href="css/base.css"/>
  <link rel="stylesheet" type="text/css" href="css/style.css"/>
  <link rel="stylesheet" type="text/css" href="css/iconfont/iconfont.css"/>
  <title>上课须知</title>
	<body style="background: #eee;">
		<div class="header">
				<span>上课须知</span>
				<a href="/index" class="back"><i class="iconfont icon-left"></i></a>
			</div>
		<div class="banner">
			<img src="img/self-report.png">
		</div>
		<div class="konw-box">
			<div class="know-content">
				<div class="know-list">
					<p class="know-tit">1、事先准备好课本</p>
				    <p class="know-txt">
						没错，听网课前，一定要准备相应的教材。
						这样不仅有助于我们更好的理清楚文章脉络，同时对我们查找遗忘知识点也比较方便。
				    </p>
				</div>
				<div class="know-list">
					<p class="know-tit">2、笔记本等辅助工具</p>
				    <p class="know-txt">
						不同类型的课程所需要的是不一样的
						但是上课前准备一个笔记本是很有必要的。方便我们记下老师说的重点。
						也有利于课后梳理课程结构和脉络。
				    </p>
				</div>
				<div class="know-list">
					<p class="know-tit">3、不要玩手机</p>
				    <p class="know-txt">
						建议用电脑上网课，手机开静音。
						一来有助于我们专心听讲，二来也有助于我们不被其他事打扰。更好的吸纳老师讲的知识点。
				    </p>
				</div>
				<div class="know-list">
					<p class="know-tit">4、及时提问</p>
				    <p class="know-txt">
						上网课实际也是上课，只是形式不同。
						所以在听老师讲课时遇到不懂得问题要及时提问或者在草稿本上记下来（是简记），当老师问大家有没有不懂的地方时候就提出来。
				    </p>
				</div>
				<div class="know-list">
					<p class="know-tit">5、课前预习</p>
				    <p class="know-txt">
						课前预习有助于我们更好掌握知识点。
						预习其实是自学，自学途中遇到不懂的地方可以自己标注出来，当老师讲到这里的时候就及时提出来。
					</p>
				</div>
				<div class="know-list">
					<p class="know-tit">6、其他</p>
				    <p class="know-txt">
						选择环境要注意，不要在喧哗吵闹的地方听网课。
						容易分心。
					</p>
				</div>
			</div>
		</div>
	  <script src="js/jquery-1.10.2.min.js"></script>
	  <script type="text/javascript" src="js/basic.js"></script>	
      <script type="text/javascript" src="js/rem.js"></script>	
	</body>
</html>