<html lang="zh-CN">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
		<meta name="description" content="">
		<link rel="stylesheet" type="text/css" href="css/slick.css" />
		<link rel="stylesheet" type="text/css" href="css/base.css" />
		<link rel="stylesheet" type="text/css" href="css/style.css" />
		<link rel="stylesheet" type="text/css" href="css/iconfont/iconfont.css" />
		<title>公告详情</title>
			</head>
	<body>
			<div class="header">
				<span>公告详情</span>
				<a href="/notice" class="back"><i class="iconfont icon-left"></i></a>
			</div>
			<div class="banner">
				<img src="img/self-report.png">
			</div>
			<div class="noticeDtail">
					<p class="detail-tit">关于2022年6月全国大学英语四、六级考试报名的通知
					<span>2022-02-18</span>
					</p>
				    <p class="detail-txt">
                        各教学单位、各位考生：
                            全国大学外语四、六级考试笔试定于2022年6月11日举行，英语类口试定于5月21-22日举行。根据教育部教育考试院和甘肃省教育考试院安排，现将我考点报名工作具体要求通知如下：
                            一、开考科目
                            笔试开考科目为英语四级（CET-4）、英语六级（CET-6）、日语四级（CJT-4）、日语六级（CJT-6）、德语四级（CGT-4）、德语六级（CGT-6）、俄语四级（CRT-4）、俄语六级（CRT-6）、法语四级（CFT-4）。
                            口试开考科目为5月21日开考英语口试四级（CET-SET4）；5月22日开考英语口试六级（CET-SET6）。
                            二、报名要求
                            （一）面向范围
                            1.我校全日制在校本科生、在籍研究生，成人教育在籍学生。
                            2.CET-4成绩未达到学位授予要求的2021届本科毕业生。
                            （二）报名资格
                            1.每位考生只能报名参加一种语言级别的笔试。
                            2.英语四级笔试成绩达到425分及以上的考生，可报考英语六级。
                            3.完成2022年上半年笔试网上报名的考生，可报考相应级别的口试。
                            （三）报名流程
                            1.报名时间
                            （1）笔试报名时间：3月17日10:30—3月23日17:00。
                            （2）口试报名时间：3月17日10:30—3月21日12:00，我校考点向校内考生开放报名系统；3月21日12:00—3月23日17:00，向全省考生开放报名。
                            2.笔试报名流程
                            请考生登陆全国大学英语四、六级考试网站（http://cet-bm.neea.edu.cn），报考前按报名系统要求进行注册和登录，登录成功后，提供正确的姓名和身份证号进行资格验证，并在规定时间内完成报名，包括信息核对、资格审核及网上缴费等操作。
                            注意有个人信息更改请务必在报名成功前完成，考试当日需携带与报名信息一致且有效的身份证件原件、纸质版准考证方可入场参加考试。如遇技术问题，请及时联系教育部教育考试院技术支持。
                            符合CET-6报考条件的考生没有获得CET-6报考资格时，考生可在系统中提交425分及以上的CET-4成绩复核后继续报名。其中，CET-4成绩为2005年以前获得的，请及时联系教务处考试中心进行复核，考生务必预留出足够的审核时间，以免因提交时间过晚导致报名时间截止无法报名的情况。
                            请考生认真选择并核对报考科目，确认且缴费后则无法删除或更改。
                            3.口试报名流程
                            本次考试我考点将在榆中校区天山堂和城关校区东区杏林楼分别设置口试考场。
                            考生可自愿选择是否参加口试报考。考生在报名时间内登录全国大学英语四六级考试网站，在相应级别的笔试报名成功后，点击“口试报考”栏目进行口试报名。考生需完成信息确认、选择考点、网上缴费等报名手续，缴费成功后即为报名成功。考生须在24小时内完成缴费，否则所选机位将被系统自动释放。注意有个人信息更改请务必在报名成功前完成，考试当日需携带与报名信息一致且有效的身份证件原件、纸质版准考证方可入场参加考试。
                            4.浏览器使用
                            建议使用火狐浏览器、谷歌浏览器、IE10+进行报名操作。
                            三、其他说明
                            （一）报名异常处理
                            符合报考条件的考生，如果无法正常报名，请及时与教务处考试中心联系，考生务必预留出足够的处理时间。
                            （二）准考证打印
                            请于规定时间内登录报名系统自行打印。
                            1.笔试准考证打印时间：6月1日9:00起；
                            2.口试准考证打印时间：5月16日9:00起。
                            （三）成绩发布
                            本次考试成绩发布的具体时间和方式以全国大学英语四、六级考试网站(http://cet.neea.edu.cn)发布的公告为准。准考证号是成绩查询的重要依据，请妥善保管。
                            根据教育部教育考试院通知，自2021年起，CET将免费提供电子成绩报告单（小语种科目为电子证书）。在成绩发布25个工作日后，考生登录中国教育考试网（http://www.neea.edu.cn）查看并下载电子成绩报告单，电子成绩报告单与纸质成绩报告单具有同等效力。考生在报名期间或成绩发布后10个工作日内登录CET报名网站（https://cet-bm.neea.edu.cn），自主选择是否需要纸质成绩报告单。纸质成绩单将由我考点统一发放。
                            （四）联系方式
                            报名系统客服电话，教育部教育考试院技术支持：010-62987880；
                            报名咨询电话，兰州大学教务处考试中心：0931-8912115；
                            电子邮箱：kszx@lzu.edu.cn；
                            办公地点：城关校区东区杏林楼705。
                    </p>
			</div>
			<script src="js/jquery-1.10.2.min.js"></script>
			<script type="text/javascript" src="js/basic.js"></script>
			<script type="text/javascript" src="js/rem.js"></script>
		</body>

</html>