<!DOCTYPE html>
<html lang="zh-CN">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
		<meta name="description" content="">
		<link rel="stylesheet" type="text/css" href="css/slick.css" />
		<link rel="stylesheet" type="text/css" href="css/base.css" />
		<link rel="stylesheet" type="text/css" href="css/style.css" />
		<link rel="stylesheet" type="text/css" href="css/iconfont/iconfont.css" />
		<title>公告详情</title>
			</head>
	<body>
			<div class="header">
				<span>公告详情</span>
				<a href="/notice" class="back"><i class="iconfont icon-left"></i></a>
			</div>
			<div class="banner">
				<img src="img/self-report.png">
			</div>
			<div class="noticeDtail">
					<p class="detail-tit">关于成人教育教学教务管理平台暂停服务的通知
					<span>2022-02-18</span>
					</p>
				    <p class="detail-txt">
                        各教学站点、各位同学：
                        为了做好2022年成人教育学生缴费注册工作，现将有关事宜通知如下：
                        一、缴费说明：学费实行网上缴费，要求学生本人通过学生平台直接在网上用微信、支付宝方式缴费。
                        二、缴费标准：各教学站点具体收费标准，按照申报后学院核准的标准执行。
                        三、缴费方式：按学年缴费，分三次交清。
                        四、缴费时间：2022年1月13日—5月10日。
                        注：根据学院成人教育学生学籍管理规定，新生未按期办理入学缴费注册手续者，视为放弃入学资格；在籍学生逾期未注册缴费者做退学处理。
                        各教学站点不再代收代缴学费，原兰州大学缴费账户停止使用，请各教学站点积极配合，做好学费收缴工作。

				    </p>
			</div>
			<script src="js/jquery-1.10.2.min.js"></script>
			<script type="text/javascript" src="js/basic.js"></script>
			<script type="text/javascript" src="js/rem.js"></script>
		</body>

</html>