<!DOCTYPE html>
<html lang="zh-CN">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
		<meta name="description" content="">
		<link rel="stylesheet" type="text/css" href="css/slick.css" />
		<link rel="stylesheet" type="text/css" href="css/base.css" />
		<link rel="stylesheet" type="text/css" href="css/style.css" />
		<link rel="stylesheet" type="text/css" href="css/iconfont/iconfont.css" />
		<title>公告详情</title>
			</head>
	<body>
			<div class="header">
				<span>公告详情</span>
				<a href="/notice" class="back"><i class="iconfont icon-left"></i></a>
			</div>
			<div class="banner">
				<img src="img/self-report.png">
			</div>
			<div class="noticeDtail">
					<p class="detail-tit">关于成人教育教学教务管理平台暂停服务的通知
					<span>2022-02-18</span>
					</p>
				    <p class="detail-txt">
					各教学站，各位同学:
       学院定于2022年2月20日18:00至2月28日08:00，对成人教育教学教务管理平台进行系统升级，届时成人教育管理平台、学生平台均暂停服务。
       请各位老师和同学做好数据备份等工作，安排好工作和学习的时间。

				    </p>
			</div>
			<script src="js/jquery-1.10.2.min.js"></script>
			<script type="text/javascript" src="js/basic.js"></script>
			<script type="text/javascript" src="js/rem.js"></script>
		</body>

</html>