<!DOCTYPE html>
<html lang="zh-CN">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
		<meta name="description" content="">
		<link rel="stylesheet" type="text/css" href="css/slick.css" />
		<link rel="stylesheet" type="text/css" href="css/base.css" />
		<link rel="stylesheet" type="text/css" href="css/style.css" />
		<link rel="stylesheet" type="text/css" href="css/iconfont/iconfont.css" />
		<title>公告详情</title>
			</head>
	<body>
			<div class="header">
				<span>公告详情</span>
				<a href="/notice" class="back"><i class="iconfont icon-left"></i></a>
			</div>
			<div class="banner">
				<img src="img/self-report.png">
			</div>
			<div class="noticeDtail">
					<p class="detail-tit">成人教育2022年春季学期教学教务工作安排
					<span>2022-02-25</span>
					</p>
				    <p class="detail-txt">
                        各教学站（点）：
                        根据教学计划进度安排，现将成人教育2022年春季学期教学教务工作安排公布如下，请各教学站（点）遵照执行。
                 
                 项目	序号	工作内容	时间	责任人
                 开课管理	1	制定并发布2022年春季学期开课计划	2022年3月1日—3月4日	学院
                 2	选开课	2022年3月15日	学院
                 教材管理	3	更新成人教育推荐教材信息	2022年2月	学院
                 4	订购、发放2022年春季学期教材	2022年2月—3月	教学站、学生
                 5	提交教材配发统计表	2022年4月	教学站
                 6	汇总各教学站教材配发情况	2022年5月	学院
                 入学教育	7	布置2022年春季学期《入学教育》课程作业	2022年3月5日—3月8日	学院
                 8	组织开展2022级新生《入学教育》	2022年3月10日—4月10日	教学站
                 9	学生平台完成《入学教育》课程作业	2022年3月20日—6月20日	学生
                 10	统计分析2022级新生入学教育学习情况	2022年6月21日—6月24日	学院
                 教学组织	11	制定并上报2022年春季学期教学执行表	2022年3月10日—4月10日	教学站
                 12	汇总2022年春季学期教学执行表	2022年4月11日—4月15日	学院
                 13	组织开展2022年春季学期课程面授	2022年3月15日—6月30日	教学站
                 14	参加面授并完成学生平台课程学习任务	2022年3月15日—9月15日	学生
                 15	组织开展教学检查工作	2022年3月—7月	学院
                 16	组织开展2022年春季学期课程辅导工作	2022年4月—9月	学院
                 课程考试	17	设置、发布2022年春季学期期末考试安排	2022年5月16日—5月20日	学院
                 18	预约2022年春季学期期末考试	2022年5月23日—5月26日	教学站
                 19	组织实施2022年春季学期课程考试	2022年6月1日—6月30日	教学站
                 20	制定并发布2022年春季学期统考计划	2022年5月5日—5月20日	学院
                 21	组织2022年春季学期统考	2022年6月下旬	学院
                 实习（实践）	22	发布2022年春季学期实习要求	2022年3月7日—3月10日	学院
                 23	组织学生开展实习	2022年4月1日—9月10日	教学站
                 毕业论文	24	发布2020级学生毕业论文（设计）写作通知	2022年3月	学院
                 25	上报《毕业论文（设计）指导教师申请表》及《论文选题信息表》	2022年4月	教学站
                 26	审核《毕业论文（设计）指导教师申请表》
                 汇总《论文选题信息表》	2022年4月	学院
                 27	指导2020级学生开展毕业论文（设计）写作	2022年4月—9月	教学站、学生
                        以上教学工作安排如有变化，请以具体通知为准。

				    </p>
			</div>
			<script src="js/jquery-1.10.2.min.js"></script>
			<script type="text/javascript" src="js/basic.js"></script>
			<script type="text/javascript" src="js/rem.js"></script>
		</body>

</html>