<!DOCTYPE html>
<html lang="zh-CN">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
		<meta name="description" content="">
		<link rel="stylesheet" type="text/css" href="css/slick.css" />
		<link rel="stylesheet" type="text/css" href="css/base.css" />
		<link rel="stylesheet" type="text/css" href="css/style.css" />
		<link rel="stylesheet" type="text/css" href="css/iconfont/iconfont.css" />
		<title>公告详情</title>
			</head>
	<body>
			<div class="header">
				<span>公告详情</span>
				<a href="/notice" class="back"><i class="iconfont icon-left"></i></a>
			</div>
			<div class="banner">
				<img src="img/self-report.png">
			</div>
			<div class="noticeDtail">
					<p class="detail-tit">关于成人教育教学教务管理平台暂停服务的通知
					<span>2022-03-03</span>
					</p>
				    <p class="detail-txt">
                    各教学站（点）、各位同学：
                               现将成人教育2022年春季学期开课的有关事项通知如下。
                               一、开课时间
                               成人教育2022年春季学期开课时间为2022年3月15日。2021-2022级各专业开课计划详见附件1。
                               二、教材订购
                               请各教学站（点）按照《兰州大学成人教育推荐教材汇总表》（下载地址http://dec.lzu.edu.cn/html/2021/xzzx_1229/6250.html），做好学生的教材订购及统计工作。
                               三、学习方式
                               自2021级学生起各专业采用混合教学模式，学生开课后，网络课程请登录学生学习平台完成相关学习任务,线下面授课程由教学站（点）制订授课计划，组织开展面授教学，并于2022年3月31日前上报教学执行表（部分线下面授课程提供网络辅助教学资源）。
                               四、考核方式
                               课程考核方式以“过程性考核”、“终结性考核”和“过程性考核+终结性考核”三种方式。具体考核方式详见附件1。
                               五、入学教育
                               2022级学生须进行《入学教育》课程的学习，并完成三套作业。《入学教育》课程作业开放时间为2022年3月15日至6月20日。
                               六、实习实践
                               请各教学站（点）按相关专业的实习实践课程要求，组织学生开展实习实践。并做好实习实践相关材料的存档工作。实习实践课程相关要求详见附件2。
                               请各教学站（点）按照通知要求，做好开课前的组织与服务工作。

				    </p>
			</div>
			<script src="js/jquery-1.10.2.min.js"></script>
			<script type="text/javascript" src="js/basic.js"></script>
			<script type="text/javascript" src="js/rem.js"></script>
		</body>

</html>