<!DOCTYPE html>
<html lang="zh-CN">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<meta name="description" content="">
	<link rel="stylesheet" type="text/css" href="/css/slick.css" />
	<link rel="stylesheet" type="text/css" href="/css/base.css" />
	<link rel="stylesheet" type="text/css" href="/css/style.css" />
	<link rel="stylesheet" type="text/css" href="/css/iconfont/iconfont.css" />
	<title>个人信息</title>
</head>

<body>
	<div class="header">
		<span>个人信息</span>
		<a href="/personal" class="back"><i class="iconfont icon-left"></i></a>
	</div>
	<form action="/personal1" method="post">
		<ul class="dorm-book">
			<li class="upload-head ta-center">
				<span>
					<img src="img/take-photo.png">
					<input type="file" />
				</span>
				<p>上传头像</p>
			</li>
			<li>
				<span class="book-tit">用户名</span>
				<input type="text" name="username" id="username" placeholder="请填写您的昵称(与登入名称一致）" />
			</li>
			<li>
				<span class="book-tit">姓名</span>
				<input type="text" id="realname" name="realname" placeholder="请填写您的真实姓名" />
			</li>
			<li>
				<span class="book-tit">性别</span>
				<select class="form-control" id="sex" name="sex">
					<option name="english">男</option>
					<option name="english">女</option>
				</select>
			</li>
			<li>
				<span class="book-tit">邮箱</span>
				<input type="text" id="email" name="email" placeholder="请填写您的邮箱账号" />
			</li>
			<li>
				<span class="book-tit">个人手机</span>
				<input type="text" id="phone" name="phone" placeholder="请填写您的手机号码" />
			</li>
			<li>
				<span class="book-tit">微信</span>
				<input type="text" id="wechat" name="wechat" placeholder="请填写您的微信账号" />
			</li>
			<li>
				<span class="book-tit">metamask</span>
				<input type="text" id="metamask" name="metamask" placeholder="请填写您的metamask账号" />
			</li>
			<li>
				<span class="book-tit">毕业学校</span>
				<input type="text" id="school" name="school" placeholder="请填写您的毕业学校" />
			</li>
			<li>
				<span class="book-tit">所学专业</span>
				<input type="text" id="major" name="major" placeholder="请填写您的专业" />
			</li>
			<li>
				<span class="book-tit">学历</span>
				<select class="form-control" id="culture" name="culture">
					<option name="english">小学</option>
					<option name="english">初中</option>
					<option name="english">高中</option>
					<option name="english">本科</option>
					<option name="english">研究生</option>
				</select>
			</li>
		</ul>
		<ul class="dorm-book">
			<li>
				<span class="book-tit">个人陈述</span>
				<input type="text" id="statement" name="statement" placeholder="请填写您的个人陈述" />
			</li>
		</ul>
		<div class="step-btn">
			<input type="submit" value="提交" id="personal1" onclick="personal1function()" />
		</div>
	</form>
	
	<!-- <iframe src="" frameborder="0" name="frameName"></iframe> -->
	<script src="/js/jquery-1.10.2.min.js"></script>
	<script type="text/javascript" src="/js/basic.js"></script>
	<script type="text/javascript" src="/js/rem.js"></script>
	<script type="text/javascript" src="/js/personal1.js"></script>
	
</body>
</html>