
<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="description" content="">
  <link type="text/css" rel="stylesheet" href="css/ha.css">
  <link rel="stylesheet" type="text/css" href="css/base.css"/>
  <link rel="stylesheet" type="text/css" href="css/style.css"/>
  <link rel="stylesheet" type="text/css" href="css/iconfont/iconfont.css"/>
  <link rel="stylesheet" type="text/css" href="css/xuanke.css">
  <link type="text/css" rel="stylesheet" href="css/style1.css">
<title>学生选课</title>
</head>
	<body class="bge">
		<div class="header">
			<span>学生选课</span>
			<a href="/enlistment" class="back"><i class="iconfont icon-left"></i></a>
            <ul class="tg-list">

                <li class="tg-list-item">
                    
                </li>
            </ul>
		</div>
        <div>
            <input type="text" id="content" placeholder=" ">
            <a id="su"class="right" >搜索</a>

        </div>
<!-- <div id="yhc_responsive" class="main">

    <div class="allProduct respl-header"> -->
        <ul class="data-content" id="studentschoose">
    
        </ul>
    <!-- </div>   
</div> -->
	</body>
    <script src="js/jquery-1.10.2.min.js"></script>
     <script type="text/javascript" src="js/rem.js"></script>	
     <script src="js/studentschoose.js"></script>
</html>

